@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,700&display=swap');

body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #f52839;
}

code {
    color: #f52839;
}

.centered {
    padding: 20px 0;
    margin: 0 auto 200px auto;
    width: 560px;
}

img {
    height: 400px;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.logo-svg {
    height: 400px;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.chain-link {
    fill:none;
    stroke:#000000;
    stroke-width:16;
    stroke-linecap:round;
    stroke-miterlimit:10;
}

.hov0 {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.hov0:hover {
    opacity: 0;
    transform: rotate(30deg);
}

.hov1 path {
    transition: transform 0.5s ease;
}

.hov1:hover .link0 {
    transform: translate(-50px, -50px);
}

.hov1:hover .link1 {
    transform: translate(50px, 50px);
}


.hov2 path {
    transition: stroke-width 0.5s ease;
}

.hov2 .link1 {
    transition-delay: 0.1s;
}

.hov2:hover path {
    stroke-width: 0;
}

.hov2-5 path {
    transition: stroke-dashoffset 0.5s ease;
}

.hov2-5:hover path {
    stroke-dasharray: 20;
    stroke-dashoffset: 30;
}

.hov3 path {
    transition: stroke-dashoffset 0.5s ease;
    stroke-dashoffset: 0;
    stroke-dasharray: 260;
}

.hov3:hover path {
    stroke-dashoffset: 260;
}

.anim0 .link0 {
    animation: anim0-link0 1s ease infinite;
    transform-origin: 50px 50px;
}

.anim0 .link1 {
    animation: anim0-link1 1s ease infinite;
    transform-origin: 100px 100px;
}

@keyframes anim0-link0 {
    0% {
        transform: translate(-50px, -50px) rotate(90deg);
    }
    33% {
        transform: translate(10px, 10px) rotate(50deg);
    }
    66% {
        transform: translate(10px, 10px);
    }
    100% {
        transform: none;
    }
}

@keyframes anim0-link1 {
    0% {
        transform: translate(50px, 50px) rotate(90deg);
    }
    33% {
        transform: translate(-10px, -10px) rotate(50deg);
    }
    66% {
        transform: translate(-10px, -10px);
    }
    100% {
        transform: none;
    }
}

.anim1 .word-chain {
    animation: anim1-text 1s ease infinite;
}

.anim1 .word-link {
    animation: anim1-text 1s ease infinite 0.1s;
}

@keyframes anim1-text {
    0% {
        transform: translate(0, 50px);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

.art-svg {
    height: 400px;
    margin: 0 auto;
    text-align: center;
    display: block;
}


.anim2 .st1 {
    animation: anim2 1s linear infinite;
}

@keyframes anim2 {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 24;
    }
}